.settings__setting {
  padding: 20px 0px;
  border-bottom: var(--screen-border);
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 21px;
}

.settings__setting-column:last-child {
  color: var(--light-brown);
}

.nav__link:visited {
  color: white;
  text-decoration: none;
}
